<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>346105128112-g7nf02iekiqcl2dffgpmjvu6e5dakntd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346105128112-g7nf02iekiqcl2dffgpmjvu6e5dakntd</string>
	<key>API_KEY</key>
	<string>AIzaSyAzsr7B61OzrD-TPklqi98QDc_o_PFgKQk</string>
	<key>GCM_SENDER_ID</key>
	<string>346105128112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rajeshpalkar.rpalkar05</string>
	<key>PROJECT_ID</key>
	<string>assignment04-ecf8c</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment04-ecf8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346105128112:ios:cef611585e6e4b48</string>
	<key>DATABASE_URL</key>
	<string>https://assignment04-ecf8c.firebaseio.com</string>
</dict>
</plist>